@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Grandiflora+One&family=Libre+Baskerville:wght@700&family=Raleway:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #BFDAFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 12vh;
  font-size: 25px;
}

.logo img {
  height: 200px;
  padding: 0;
  margin-left: 10%;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 35px;
  margin-right: 50px;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li a:hover {
  background-color: #004AAD;
  color: white;
}

main {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to left, #BFDAFF, #004AAD, #FF3131);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: calc(75vh - 70px); 
}

main h1{
  font-size: 150px;
}

footer {
  background-color: #BFDAFF;
  height: 50px;
}
  