@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Grandiflora+One&family=Libre+Baskerville:wght@700&family=Raleway:wght@300&display=swap');

*{
  box-sizing: border-box;
}

body html {
  height: 100%;
  margin: 0;
  width: 100%;
}

header {
  background-color: #BFDAFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 12vh;
  width: 100vw;
  font-size: 25px;
}

.logo img {
  height: 200px;
  padding: 0;
  margin-left: 10%;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 35px;
  margin-right: 50px;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li a:hover {
  background-color: #004AAD;
  color: white;
}

.hero-image {
  width: 100vw;
  height: 100%;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-image img{
  width: 100vw;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 5px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.hero-text button:hover {
  background-color: #555;
  color: white;
}


main h1{
  font-size: 150px;
}

main p{
  font-size: 30px;
  border-radius: black 50%;
  text-shadow: #000;
}

footer {
  background-color: #66C7F4;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
  width: 100vw;
}

footer a {
  color: #131200;
  text-decoration: none;
  font-family: Lato, 'Bruno Ace SC', 'Instrument Serif';
}

footer a:hover{
  color: #131200;    
}

footer p{
  font-size: 1.2em;
  text-decoration: underline;
  font-family: Lato, 'Bruno Ace SC', 'Instrument Serif';
}
