@import url('https://fonts.googleapis.com/css2?family=Diphylleia&family=Grandiflora+One&family=Libre+Baskerville:wght@700&family=Raleway:wght@300&display=swap');


body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #BFDAFF;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 12vh;
  font-size: 25px;
}

.logo img {
  height: 200px;
  padding: 0;
  margin-left: 10%;
}

.menu {
  list-style-type: none;
  display: flex;
}

.menu li {
  margin-left: 35px;
  margin-right: 50px;
}

.menu li a {
  text-decoration: none;
  color: #000;
}

.menu li a:hover {
  background-color: #004AAD;
  color: white;
}

main {
  text-align: center;
  padding: 20px;
  background: linear-gradient(to left, #BFDAFF, #004AAD, #FF3131);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: calc(75vh - 70px); 
}

main h1{
  font-size: 150px;
}

main p{
  font-size: 30px;
  border-radius: black 50%;
  text-shadow: #000;
}

footer {
  background-color: #66C7F4;
  padding: 25px 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer a {
  color: #131200;
  text-decoration: none;
  font-family: Lato, 'Bruno Ace SC', 'Instrument Serif';
}

footer a:hover{
  color: #131200;    
}

footer p{
  font-size: 1.2em;
  text-decoration: underline;
  font-family: Lato, 'Bruno Ace SC', 'Instrument Serif';
}
